@tailwind base;

@tailwind components;

@tailwind utilities;

/*
 * Transitions
 */

.slide-enter {
    transform: translateX(100%);
    opacity: 0;
}
.slide-enter-active {
    transform: translateX(0%);
    transition: opacity 500ms, transform 500ms;
    opacity: 1;
}
.slide-exit {
    transform: translateX(0%);
    opacity: 1;
}
.slide-exit-active {
    transform: translateX(-100%);
    transition: opacity 500ms, transform 500ms;
    opacity: 0;
}
